In [1134]:
from dotenv import load_dotenv
import os
from pymongo import MongoClient
import numpy as np
import pandas as pd

In [1136]:
load_dotenv()
MONGO_URI=os.getenv("MONGO_URI")
DB_NAME=os.getenv("DB_NAME")
COLLECTION_NAME=os.getenv("COLLECTION_NAME")

In [1138]:
client = MongoClient(MONGO_URI)
db=client[DB_NAME]
collection = db[COLLECTION_NAME]

In [1139]:
movies_cursor=collection.find({})
old_movies = pd.DataFrame(list(movies_cursor))

In [1140]:
old_movies.head(1)

,_id,tmdbId,__v,cast,director,genres,plot,poster,reviews,title,year,Avgrating
0,67e016024ebb8c0dabc71b40,1151470,0,"[Jet Jandreau, Alison Jaye Horowitz, Ana Alexa...",Lee Whittaker,"[Thriller, Action]","Returning from Afghanistan, Jessica, a Spec OP...",https://image.tmdb.org/t/p/w500/pWuGTUPJfxqJff...,[],The Vigilante,2023,0

In [ ]:
import pickle

In [1257]:
with open('movies_data.pkl','wb') as f:
    pickle.dump(old_movies,f)

In [1141]:
movies = old_movies[['_id','cast','director','genres','plot','title']]
movies.head(1)

,_id,cast,director,genres,plot,title
0,67e016024ebb8c0dabc71b40,"[Jet Jandreau, Alison Jaye Horowitz, Ana Alexa...",Lee Whittaker,"[Thriller, Action]","Returning from Afghanistan, Jessica, a Spec OP...",The Vigilante

In [1142]:
movies.isnull().sum()

_id         0
cast        0
director    0
genres      0
plot        0
title       0
dtype: int64

In [1143]:
movies['cast'][0]

['Jet Jandreau',
 'Alison Jaye Horowitz',
 'Ana Alexander',
 'Eric Pierce',
 'Jamie Timmons']

In [ ]:
movies['cast']=movies['cast'].apply(lambda x:x[:3])
movies['genres']=movies['genres'].apply(lambda x:x[:2])
movies.head(1)

In [ ]:
#list conversion 
movies['director'] = movies['director'].apply(lambda x: [x])
movies['plot']=movies['plot'].apply(lambda x:x.split())

In [1146]:
movies.head(1)

,_id,cast,director,genres,plot,title
0,67e016024ebb8c0dabc71b40,"[Jet Jandreau, Alison Jaye Horowitz, Ana Alexa...",[Lee Whittaker],"[Thriller, Action]","[Returning, from, Afghanistan,, Jessica,, a, S...",The Vigilante

In [ ]:
movies['cast']=movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])
movies['director'] = movies['director'].apply(lambda x:[i.replace(" ","") for i in x])

In [1148]:
movies.head()

,_id,cast,director,genres,plot,title
0,67e016024ebb8c0dabc71b40,"[JetJandreau, AlisonJayeHorowitz, AnaAlexander]",[LeeWhittaker],"[Thriller, Action]","[Returning, from, Afghanistan,, Jessica,, a, S...",The Vigilante
1,67e016024ebb8c0dabc71b41,"[RachelZegler, GalGadot, AndrewBurnap]",[MarcWebb],"[Family, Fantasy]","[A, princess, joins, forces, with, seven, dwar...",Snow White
2,67e016024ebb8c0dabc71b42,"[MillieBobbyBrown, ChrisPratt, KeHuyQuan]",[JoeRusso],"[Science Fiction, Adventure]","[An, orphaned, teen, hits, the, road, with, a,...",The Electric State
3,67e016024ebb8c0dabc71b43,"[SadieSink, KelvinHarrison,Jr., MurrayBartlett]",[GeremyJasper],"[Music, Drama]","[A, farm, girl, is, on, an, epic, quest, to, r...",O'Dessa
4,67e016024ebb8c0dabc71b44,"[ChristophWaltz, LucyLiu, CooperHoffman]",[SimonWest],"[Action, Comedy]","[Stuck, at, a, dead, end, but, vying, for, the...",Old Guy

In [ ]:
movies['tags'] = movies['plot']+movies['cast']+movies['director']+movies['genres']

In [1150]:
movies.head()

,_id,cast,director,genres,plot,title,tags
0,67e016024ebb8c0dabc71b40,"[JetJandreau, AlisonJayeHorowitz, AnaAlexander]",[LeeWhittaker],"[Thriller, Action]","[Returning, from, Afghanistan,, Jessica,, a, S...",The Vigilante,"[Returning, from, Afghanistan,, Jessica,, a, S..."
1,67e016024ebb8c0dabc71b41,"[RachelZegler, GalGadot, AndrewBurnap]",[MarcWebb],"[Family, Fantasy]","[A, princess, joins, forces, with, seven, dwar...",Snow White,"[A, princess, joins, forces, with, seven, dwar..."
2,67e016024ebb8c0dabc71b42,"[MillieBobbyBrown, ChrisPratt, KeHuyQuan]",[JoeRusso],"[Science Fiction, Adventure]","[An, orphaned, teen, hits, the, road, with, a,...",The Electric State,"[An, orphaned, teen, hits, the, road, with, a,..."
3,67e016024ebb8c0dabc71b43,"[SadieSink, KelvinHarrison,Jr., MurrayBartlett]",[GeremyJasper],"[Music, Drama]","[A, farm, girl, is, on, an, epic, quest, to, r...",O'Dessa,"[A, farm, girl, is, on, an, epic, quest, to, r..."
4,67e016024ebb8c0dabc71b44,"[ChristophWaltz, LucyLiu, CooperHoffman]",[SimonWest],"[Action, Comedy]","[Stuck, at, a, dead, end, but, vying, for, the...",Old Guy,"[Stuck, at, a, dead, end, but, vying, for, the..."

In [1151]:
new_df = movies[['_id','title','tags']]
new_df.head()

,_id,title,tags
0,67e016024ebb8c0dabc71b40,The Vigilante,"[Returning, from, Afghanistan,, Jessica,, a, S..."
1,67e016024ebb8c0dabc71b41,Snow White,"[A, princess, joins, forces, with, seven, dwar..."
2,67e016024ebb8c0dabc71b42,The Electric State,"[An, orphaned, teen, hits, the, road, with, a,..."
3,67e016024ebb8c0dabc71b43,O'Dessa,"[A, farm, girl, is, on, an, epic, quest, to, r..."
4,67e016024ebb8c0dabc71b44,Old Guy,"[Stuck, at, a, dead, end, but, vying, for, the..."

In [ ]:
new_df['tags']=new_df['tags'].apply(lambda x:" ".join(x))

In [1153]:
import nltk

In [1154]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [1155]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [1156]:
new_df

,_id,title,tags
0,67e016024ebb8c0dabc71b40,The Vigilante,"Returning from Afghanistan, Jessica, a Spec OP..."
1,67e016024ebb8c0dabc71b41,Snow White,A princess joins forces with seven dwarfs to l...
2,67e016024ebb8c0dabc71b42,The Electric State,An orphaned teen hits the road with a mysterio...
3,67e016024ebb8c0dabc71b43,O'Dessa,A farm girl is on an epic quest to recover a c...
4,67e016024ebb8c0dabc71b44,Old Guy,Stuck at a dead end but vying for the love of ...
...,...,...,...
7637,67e0164f4ebb8c0dabc73a54,Flight 7500,Flight 7500 departs Los Angeles International ...
7638,67e0164f4ebb8c0dabc73a52,The House of Pleasure,Lord Gregory Hutton takes his beautiful young ...
7639,67e0164f4ebb8c0dabc73a53,The Last Days of Pompeii,"Glaucus, a demobilized centurion returns home ..."
7640,67e0164f4ebb8c0dabc73a50,Destricted,A compilation of erotic films intended to illu...
7641,67e0164f4ebb8c0dabc73a56,The Raven,A fictionalized account of the last days of Ed...

In [ ]:
new_df['tags'] = new_df['tags'].apply(stem)

In [1159]:
new_df['tags'].head(1)

0    return from afghanistan, jessica, a spec op ma...
Name: tags, dtype: object

In [ ]:
import unicodedata
import re

def clean_text(text):
    text = unicodedata.normalize('NFKD', text).encode('ascii', 'ignore').decode('utf-8')
    text = re.sub(r'[^a-zA-Z0-9\s]', '', text.lower())
    return text

new_df['tags'] = new_df['tags'].apply(clean_text)
new_df['tags'] = new_df['tags'].apply(lambda x: ' '.join([word for word in x.split() if word != 'title']))

In [1161]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=10000,stop_words='english')

In [1162]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [1163]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [1164]:
print(f"vectors.shape = {vectors.shape}")  # (7642, 10000) or fewer
print(f"len(features) = {len(features)}")

vectors.shape = (7642, 10000)
len(features) = 10000

In [1171]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [1176]:
features =  cv.get_feature_names_out()
features

array(['10', '100', '1000', ..., 'zora', 'zoro', 'zorro'], dtype=object)

In [1185]:
X_df = pd.DataFrame(vectors, columns=features)
new_df = new_df.reset_index(drop=True)
X_df = X_df.reset_index(drop=True)
final_df = pd.concat([new_df[['_id', 'title']], X_df], axis=1)

In [1255]:
with open('final_df_data.pkl','wb') as f:
    pickle.dump(final_df,f)

In [1186]:
load_dotenv()
COLLECTION_NAME_2=os.getenv("COLLECTION_NAME_2")

In [1187]:
client = MongoClient(MONGO_URI)
db=client[DB_NAME]
collection2 = db[COLLECTION_NAME_2]

In [ ]:
from bson import ObjectId
user_id = ObjectId("")
user_cursor = collection2.find_one({"_id":user_id})
user_cursor

In [1189]:
def convert(user_doc):
    flat_user = {
        "_id": str(user_doc["_id"]),
        "favorites": [str(x) for x in user_doc.get("favorites", [])],
        "likes": [str(x) for x in user_doc.get("likes", [])],
    }
    return pd.DataFrame([flat_user])

In [ ]:
user = convert(user_cursor)
user

In [1191]:
user['favorites']

0    [67e0160c4ebb8c0dabc71ee4]
Name: favorites, dtype: object

In [1192]:
# fetch Favourites Movies
def fetch(favorites_ids,old_movies):
    titles=[]
    for movie in old_movies:
        if movie['_id'] in favorites_ids:
             titles.append(movie['title'])
    return titles

In [1205]:

favorites_ids = [ObjectId(x) for x in user['favorites'].iloc[0]]
liked_ids = [ObjectId(x) for x in user['likes'].iloc[0]]

movies_cursor = collection.find({})
old_movies = list(movies_cursor)
Liked_Movies = fetch(liked_ids, old_movies)

In [1207]:
Liked_Movies

['(500) Days of Summer']

In [1209]:
def fetch_from_movie_vector(liked_ids, movie_vector_df):
    return movie_vector_df[movie_vector_df['_id'].isin(liked_ids)]

In [1211]:
liked_vector_list = fetch_from_movie_vector(liked_ids,final_df)

In [1213]:
liked_vector_list

,_id,title,10,100,1000,10000,10year,10yearold,11,11yearold,...,zoekravitz,zoesaldana,zombi,zombies,zone,zoo,zooeydeschanel,zora,zoro,zorro
714,67e0160a4ebb8c0dabc71e14,(500) Days of Summer,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [1215]:
vector_for_mean = liked_vector_list[[col for col in liked_vector_list.columns if col not in ['_id','title']]]

In [1217]:
vector_for_mean

,10,100,1000,10000,10year,10yearold,11,11yearold,12,1200,...,zoekravitz,zoesaldana,zombi,zombies,zone,zoo,zooeydeschanel,zora,zoro,zorro
714,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [1221]:
user_profile_vector = vector_for_mean.mean(axis=0).values.reshape(1, -1)

In [1223]:
user_profile_vector

array([[0., 0., 0., ..., 0., 0., 0.]])

In [1225]:
Movie_vector_excluding_liked_ids = final_df[~final_df['_id'].isin(liked_ids)]

In [1227]:
Movie_vector_excluding_ids_Title = Movie_vector_excluding_liked_ids[[col for col in Movie_vector_excluding_liked_ids.columns if col not in ['_id','title']]]

In [1229]:
Movie_vector_excluding_ids_Title

,10,100,1000,10000,10year,10yearold,11,11yearold,12,1200,...,zoekravitz,zoesaldana,zombi,zombies,zone,zoo,zooeydeschanel,zora,zoro,zorro
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7637,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7638,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7639,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7640,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7641,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [1231]:
from sklearn.metrics.pairwise import cosine_similarity

In [1233]:
similarity = cosine_similarity(user_profile_vector,Movie_vector_excluding_ids_Title )

In [1234]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[1:6]

[(5678, 0.3388154635894692),
 (1723, 0.3300891361017462),
 (3695, 0.3243374865704012),
 (5242, 0.3243374865704012),
 (5849, 0.3212698020578431)]

In [1241]:
def recommendMovie(movieId):
    L=[]
    if isinstance(movieId, str): 
        movieId = [movieId]
    old_movies_df = pd.DataFrame(old_movies)
    filtered_movies = old_movies_df[~old_movies_df['_id'].isin(movieId)]
    movie_list = sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[1:6]
    topindices=[i[0] for i in movie_list]
    for i in topindices:
        row = filtered_movies.iloc[i]
        L.append({'_id':str(row['_id']),'title': row['title'], 'genres': row['genres'],'poster':row['poster']})
    return L

In [1243]:
recommendMovie(liked_ids)

[{'_id': '67e0163c4ebb8c0dabc73243',
  'title': 'Sorry If I Call You Love',
  'genres': ['Romance', 'Drama'],
  'poster': 'https://image.tmdb.org/t/p/w500/ekvI7HVl0RcA4iaZOqNa8vqFwAN.jpg'},
 {'_id': '67e016144ebb8c0dabc72229',
  'title': 'The Boy in the Plastic Bubble',
  'genres': ['TV Movie', 'Drama'],
  'poster': 'https://image.tmdb.org/t/p/w500/qZHhtOaXj3GhmivPhsmCnLkitpY.jpg'},
 {'_id': '67e016294ebb8c0dabc72a16',
  'title': 'Sub Rosa',
  'genres': ['Drama', 'Romance'],
  'poster': 'https://image.tmdb.org/t/p/w500/yVwt1gPaQxCUV8iC8i1rca6FSji.jpg'},
 {'_id': '67e016384ebb8c0dabc73076',
  'title': 'High Fidelity',
  'genres': ['Drama', 'Comedy', 'Romance', 'Music'],
  'poster': 'https://image.tmdb.org/t/p/w500/e2LZGB62GMhv3Fo8tDZjY87I81a.jpg'},
 {'_id': '67e0163e4ebb8c0dabc732f2',
  'title': 'Sound of Metal',
  'genres': ['Drama', 'Music'],
  'poster': 'https://image.tmdb.org/t/p/w500/3178oOJKKPDeQ2legWQvMPpllv.jpg'}]

In [ ]:
#completed