In [1]:
from dotenv import load_dotenv
import os
from pymongo import MongoClient
import numpy as np
import pandas as pd

In [2]:
load_dotenv()
MONGO_URI=os.getenv("MONGO_URI")
DB_NAME=os.getenv("DB_NAME")
COLLECTION_NAME=os.getenv("COLLECTION_NAME")

In [3]:
client = MongoClient(MONGO_URI)
db=client[DB_NAME]
collection = db[COLLECTION_NAME]

In [4]:
movies_cursor=collection.find({})
old_movies = pd.DataFrame(list(movies_cursor))

In [5]:
old_movies.head(1)

,_id,tmdbId,__v,cast,director,genres,plot,poster,reviews,title,year,Avgrating
0,67e016024ebb8c0dabc71b40,1151470,0,"[Jet Jandreau, Alison Jaye Horowitz, Ana Alexa...",Lee Whittaker,"[Thriller, Action]","Returning from Afghanistan, Jessica, a Spec OP...",https://image.tmdb.org/t/p/w500/pWuGTUPJfxqJff...,[],The Vigilante,2023,0

In [6]:
import pickle

In [7]:
with open('movies_data.pkl','wb') as f:
    pickle.dump(old_movies,f)

In [6]:
movies = old_movies[['_id','cast','director','genres','plot','title']]
movies.head(1)

,_id,cast,director,genres,plot,title
0,67e016024ebb8c0dabc71b40,"[Jet Jandreau, Alison Jaye Horowitz, Ana Alexa...",Lee Whittaker,"[Thriller, Action]","Returning from Afghanistan, Jessica, a Spec OP...",The Vigilante

In [9]:
movies.isnull().sum()

_id         0
cast        0
director    0
genres      0
plot        0
title       0
dtype: int64

In [10]:
movies['cast'][0]

['Jet Jandreau',
 'Alison Jaye Horowitz',
 'Ana Alexander',
 'Eric Pierce',
 'Jamie Timmons']

In [7]:
movies['cast']=movies['cast'].apply(lambda x:x[:3])
movies['genres']=movies['genres'].apply(lambda x:x[:2])
movies.head(1)

C:\Users\sagar\AppData\Local\Temp\ipykernel_41592\2236594865.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['cast']=movies['cast'].apply(lambda x:x[:3])
C:\Users\sagar\AppData\Local\Temp\ipykernel_41592\2236594865.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['genres']=movies['genres'].apply(lambda x:x[:2])

,_id,cast,director,genres,plot,title
0,67e016024ebb8c0dabc71b40,"[Jet Jandreau, Alison Jaye Horowitz, Ana Alexa...",Lee Whittaker,"[Thriller, Action]","Returning from Afghanistan, Jessica, a Spec OP...",The Vigilante

In [8]:
#list conversion 
movies['director'] = movies['director'].apply(lambda x: [x])
movies['plot']=movies['plot'].apply(lambda x:x.split())

C:\Users\sagar\AppData\Local\Temp\ipykernel_41592\4266478534.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['director'] = movies['director'].apply(lambda x: [x])
C:\Users\sagar\AppData\Local\Temp\ipykernel_41592\4266478534.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['plot']=movies['plot'].apply(lambda x:x.split())

In [13]:
movies.head(1)

,_id,cast,director,genres,plot,title
0,67e016024ebb8c0dabc71b40,"[Jet Jandreau, Alison Jaye Horowitz, Ana Alexa...",[Lee Whittaker],"[Thriller, Action]","[Returning, from, Afghanistan,, Jessica,, a, S...",The Vigilante

In [9]:
movies['cast']=movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])
movies['director'] = movies['director'].apply(lambda x:[i.replace(" ","") for i in x])

C:\Users\sagar\AppData\Local\Temp\ipykernel_41592\2865934519.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['cast']=movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])
C:\Users\sagar\AppData\Local\Temp\ipykernel_41592\2865934519.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['director'] = movies['director'].apply(lambda x:[i.replace(" ","") for i in x])

In [100]:
movies.head()

,_id,cast,director,genres,plot,title,tags
0,67e016024ebb8c0dabc71b40,"[JetJandreau, AlisonJayeHorowitz, AnaAlexander]",[LeeWhittaker],"[Thriller, Action]","[Returning, from, Afghanistan,, Jessica,, a, S...",The Vigilante,"[Returning, from, Afghanistan,, Jessica,, a, S..."
1,67e016024ebb8c0dabc71b41,"[RachelZegler, GalGadot, AndrewBurnap]",[MarcWebb],"[Family, Fantasy]","[A, princess, joins, forces, with, seven, dwar...",Snow White,"[A, princess, joins, forces, with, seven, dwar..."
2,67e016024ebb8c0dabc71b42,"[MillieBobbyBrown, ChrisPratt, KeHuyQuan]",[JoeRusso],"[Science Fiction, Adventure]","[An, orphaned, teen, hits, the, road, with, a,...",The Electric State,"[An, orphaned, teen, hits, the, road, with, a,..."
3,67e016024ebb8c0dabc71b43,"[SadieSink, KelvinHarrison,Jr., MurrayBartlett]",[GeremyJasper],"[Music, Drama]","[A, farm, girl, is, on, an, epic, quest, to, r...",O'Dessa,"[A, farm, girl, is, on, an, epic, quest, to, r..."
4,67e016024ebb8c0dabc71b44,"[ChristophWaltz, LucyLiu, CooperHoffman]",[SimonWest],"[Action, Comedy]","[Stuck, at, a, dead, end, but, vying, for, the...",Old Guy,"[Stuck, at, a, dead, end, but, vying, for, the..."

In [11]:
movies['tags'] = movies['plot']+movies['cast']+movies['director']+movies['genres']

C:\Users\sagar\AppData\Local\Temp\ipykernel_41592\2830522905.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['tags'] = movies['plot']+movies['cast']+movies['director']+movies['genres']

In [17]:
movies.head()

,_id,cast,director,genres,plot,title,tags
0,67e016024ebb8c0dabc71b40,"[JetJandreau, AlisonJayeHorowitz, AnaAlexander]",[LeeWhittaker],"[Thriller, Action]","[Returning, from, Afghanistan,, Jessica,, a, S...",The Vigilante,"[Returning, from, Afghanistan,, Jessica,, a, S..."
1,67e016024ebb8c0dabc71b41,"[RachelZegler, GalGadot, AndrewBurnap]",[MarcWebb],"[Family, Fantasy]","[A, princess, joins, forces, with, seven, dwar...",Snow White,"[A, princess, joins, forces, with, seven, dwar..."
2,67e016024ebb8c0dabc71b42,"[MillieBobbyBrown, ChrisPratt, KeHuyQuan]",[JoeRusso],"[Science Fiction, Adventure]","[An, orphaned, teen, hits, the, road, with, a,...",The Electric State,"[An, orphaned, teen, hits, the, road, with, a,..."
3,67e016024ebb8c0dabc71b43,"[SadieSink, KelvinHarrison,Jr., MurrayBartlett]",[GeremyJasper],"[Music, Drama]","[A, farm, girl, is, on, an, epic, quest, to, r...",O'Dessa,"[A, farm, girl, is, on, an, epic, quest, to, r..."
4,67e016024ebb8c0dabc71b44,"[ChristophWaltz, LucyLiu, CooperHoffman]",[SimonWest],"[Action, Comedy]","[Stuck, at, a, dead, end, but, vying, for, the...",Old Guy,"[Stuck, at, a, dead, end, but, vying, for, the..."

In [12]:
new_df = movies[['_id','title','tags']]
new_df.head()

,_id,title,tags
0,67e016024ebb8c0dabc71b40,The Vigilante,"[Returning, from, Afghanistan,, Jessica,, a, S..."
1,67e016024ebb8c0dabc71b41,Snow White,"[A, princess, joins, forces, with, seven, dwar..."
2,67e016024ebb8c0dabc71b42,The Electric State,"[An, orphaned, teen, hits, the, road, with, a,..."
3,67e016024ebb8c0dabc71b43,O'Dessa,"[A, farm, girl, is, on, an, epic, quest, to, r..."
4,67e016024ebb8c0dabc71b44,Old Guy,"[Stuck, at, a, dead, end, but, vying, for, the..."

In [22]:
new_df['tags']=new_df['tags'].apply(lambda x:" ".join(x))

C:\Users\sagar\AppData\Local\Temp\ipykernel_41592\487797088.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x:" ".join(x))

In [13]:
import nltk

In [14]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [15]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [16]:
new_df

,_id,title,tags
0,67e016024ebb8c0dabc71b40,The Vigilante,"[Returning, from, Afghanistan,, Jessica,, a, S..."
1,67e016024ebb8c0dabc71b41,Snow White,"[A, princess, joins, forces, with, seven, dwar..."
2,67e016024ebb8c0dabc71b42,The Electric State,"[An, orphaned, teen, hits, the, road, with, a,..."
3,67e016024ebb8c0dabc71b43,O'Dessa,"[A, farm, girl, is, on, an, epic, quest, to, r..."
4,67e016024ebb8c0dabc71b44,Old Guy,"[Stuck, at, a, dead, end, but, vying, for, the..."
...,...,...,...
7637,67e0164f4ebb8c0dabc73a54,Flight 7500,"[Flight, 7500, departs, Los, Angeles, Internat..."
7638,67e0164f4ebb8c0dabc73a52,The House of Pleasure,"[Lord, Gregory, Hutton, takes, his, beautiful,..."
7639,67e0164f4ebb8c0dabc73a53,The Last Days of Pompeii,"[Glaucus,, a, demobilized, centurion, returns,..."
7640,67e0164f4ebb8c0dabc73a50,Destricted,"[A, compilation, of, erotic, films, intended, ..."
7641,67e0164f4ebb8c0dabc73a56,The Raven,"[A, fictionalized, account, of, the, last, day..."

In [23]:
new_df['tags'] = new_df['tags'].apply(stem)

C:\Users\sagar\AppData\Local\Temp\ipykernel_41592\3213734980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem)

In [101]:
new_df['tags'].head(1)

0    return from afghanistan jessica a spec op mari...
Name: tags, dtype: object

In [24]:
import unicodedata
import re

def clean_text(text):
    text = unicodedata.normalize('NFKD', text).encode('ascii', 'ignore').decode('utf-8')
    text = re.sub(r'[^a-zA-Z0-9\s]', '', text.lower())
    return text

new_df['tags'] = new_df['tags'].apply(clean_text)
new_df['tags'] = new_df['tags'].apply(lambda x: ' '.join([word for word in x.split() if word != 'title']))

C:\Users\sagar\AppData\Local\Temp\ipykernel_41592\294752854.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(clean_text)
C:\Users\sagar\AppData\Local\Temp\ipykernel_41592\294752854.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x: ' '.join([word for word in x.split() if word != 'title']))

In [17]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=10000,stop_words='english')

In [25]:
vectors = cv.fit_transform(new_df['tags'])

In [26]:
vectors

<7642x10000 sparse matrix of type '<class 'numpy.int64'>'
	with 188295 stored elements in Compressed Sparse Row format>

In [31]:
type(vectors)

scipy.sparse._csr.csr_matrix

In [99]:
from scipy.sparse import save_npz
save_npz("vectors.npz", vectors)

In [30]:
vectors[0]

<1x10000 sparse matrix of type '<class 'numpy.int64'>'
	with 21 stored elements in Compressed Sparse Row format>

In [32]:
features =  cv.get_feature_names_out() # Get the actual terms
print(len(features))

10000

In [47]:
movie_metadata = new_df[['_id', 'title']]
movie_metadata

                           _id                     title
0     67e016024ebb8c0dabc71b40             The Vigilante
1     67e016024ebb8c0dabc71b41                Snow White
2     67e016024ebb8c0dabc71b42        The Electric State
3     67e016024ebb8c0dabc71b43                   O'Dessa
4     67e016024ebb8c0dabc71b44                   Old Guy
...                        ...                       ...
7637  67e0164f4ebb8c0dabc73a54               Flight 7500
7638  67e0164f4ebb8c0dabc73a52     The House of Pleasure
7639  67e0164f4ebb8c0dabc73a53  The Last Days of Pompeii
7640  67e0164f4ebb8c0dabc73a50                Destricted
7641  67e0164f4ebb8c0dabc73a56                 The Raven

[7642 rows x 2 columns]

In [34]:
load_dotenv()
COLLECTION_NAME_2=os.getenv("COLLECTION_NAME_2")

In [35]:
client = MongoClient(MONGO_URI)
db=client[DB_NAME]
collection2 = db[COLLECTION_NAME_2]

In [36]:
from bson import ObjectId
user_id = ObjectId("68148f522cc6ee9da35f6546")
user_cursor = collection2.find_one({"_id":user_id})
user_cursor

{'_id': ObjectId('68148f522cc6ee9da35f6546'),
 'fullname': {'firstname': 'Gajadhar', 'lastname': 'Kumar'},
 'email': 'gajadhark197@gmail.com',
 'password': '$2b$10$CCYlLji./xPjJtzGTg.cauGSEXab0cF5H69w7ZQtSfW7g6QDfRw0q',
 'favorites': [ObjectId('67e016444ebb8c0dabc73563')],
 'likes': [ObjectId('67e0163d4ebb8c0dabc7325a'),
  ObjectId('67e016444ebb8c0dabc73563')],
 'dislikes': [],
 '__v': 1}

In [48]:
def convert(user_doc):
    flat_user = {
        "_id": str(user_doc["_id"]),
        "favorites": [str(x) for x in user_doc.get("favorites", [])],
        "likes": [str(x) for x in user_doc.get("likes", [])],
    }
    return pd.DataFrame([flat_user])

In [49]:
user = convert(user_cursor)
user

,_id,favorites,likes
0,68148f522cc6ee9da35f6546,[67e016444ebb8c0dabc73563],"[67e0163d4ebb8c0dabc7325a, 67e016444ebb8c0dabc..."

In [102]:
user['favorites']

0    [67e016444ebb8c0dabc73563]
Name: favorites, dtype: object

In [105]:
movie_metadata['_id'] = movie_metadata['_id'].astype(str)
liked_ids_str = user['likes'].iloc[0]
favourite_ids_str = user['favorites'].iloc[0]

C:\Users\sagar\AppData\Local\Temp\ipykernel_41592\3872817506.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_metadata['_id'] = movie_metadata['_id'].astype(str)

In [106]:
def fetch_from_movie_vector(movie_indices, movie_vector_df):
    movie_indices = metadata[metadata['_id'].isin(liked_ids_str)].index
    return vectors[movie_indices]

In [108]:
 liked_indices = movie_metadata[movie_metadata['_id'].isin(liked_ids_str)].index
 favorite_indices = movie_metadata[movie_metadata['_id'].isin(favourite_ids_str)].index
liked_vectors_sparse = vectors[liked_indices]
favourite_vectors_sparse = vectors[favorite_indices]

In [87]:
liked_vectors_sparse

<2x10000 sparse matrix of type '<class 'numpy.int64'>'
	with 59 stored elements in Compressed Sparse Row format>

In [109]:
from scipy.sparse import vstack

In [110]:
if liked_vectors_sparse.shape[0] > 0 and favourite_vectors_sparse.shape[0] > 0:
    combined_vectors = vstack([liked_vectors_sparse, favourite_vectors_sparse])
elif liked_vectors_sparse.shape[0] > 0:
    combined_vectors = liked_vectors_sparse
elif favourite_vectors_sparse.shape[0] > 0:
    combined_vectors = favourite_vectors_sparse
else:
    combined_vectors = None
if combined_vectors is not None and combined_vectors.shape[0] > 0:
    user_profile_vector = combined_vectors.mean(axis=0).A
else:
    user_profile_vector = None

In [111]:
user_profile_vector

array([[0., 0., 0., ..., 0., 0., 0.]])

In [112]:
mask = ~movie_metadata['_id'].isin(liked_ids_str)
remaining_indices = movie_metadata[mask].index
remaining_vectors_sparse = vectors[remaining_indices]

In [113]:
from sklearn.metrics.pairwise import cosine_similarity

In [114]:
similarity = cosine_similarity(user_profile_vector, remaining_vectors_sparse)

In [115]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[1:6]

[(3235, 0.30692243583723844),
 (492, 0.3037136692389104),
 (7229, 0.2888129120831016),
 (3199, 0.2870152459659544),
 (917, 0.2864609401147559)]

In [120]:
def recommendMovie(liked_ids_str,similarity):
    recommendations = []

    if isinstance(liked_ids_str, str):
        liked_ids_str = [liked_ids_str]
    elif isinstance(liked_ids_str, list):
        liked_ids_str = [str(x) for x in liked_ids_str]

    movie_metadata['_id'] = movie_metadata['_id'].astype(str).str.strip()
    filtered_metadata = movie_metadata[~movie_metadata['_id'].isin(liked_ids_str)].reset_index(drop=True)

    top_indices = np.argsort(similarity[0])[::-1][:5]

    for i in top_indices:
        row = filtered_metadata.iloc[i]
        old_movies['_id'] = old_movies['_id'].astype(str)
        movie_obj = old_movies[old_movies['_id'] == str(row['_id'])]

        if not movie_obj.empty:
            movie_obj = movie_obj.iloc[0]
            recommendations.append({
                '_id': str(movie_obj['_id']),
                'title': movie_obj['title'],
                'genres': movie_obj['genres'],
                'poster': movie_obj['poster']
            })

    return recommendations

In [121]:
similarity = cosine_similarity(user_profile_vector, remaining_vectors_sparse)
recommendMovie(liked_ids_str, similarity)

C:\Users\sagar\AppData\Local\Temp\ipykernel_41592\3793137015.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_metadata['_id'] = movie_metadata['_id'].astype(str).str.strip()

[{'_id': '67e016024ebb8c0dabc71b55',
  'title': 'Novocaine',
  'genres': ['Action', 'Comedy', 'Thriller'],
  'poster': 'https://image.tmdb.org/t/p/w500/xmMHGz9dVRaMY6rRAlEX4W0Wdhm.jpg'},
 {'_id': '67e016244ebb8c0dabc7283a',
  'title': 'School Spirit',
  'genres': ['Comedy'],
  'poster': 'https://image.tmdb.org/t/p/w500/e32ycfsGllbghXstP3PMvDZfm6M.jpg'},
 {'_id': '67e016074ebb8c0dabc71d30',
  'title': 'The Girl Next Door',
  'genres': ['Comedy', 'Romance'],
  'poster': 'https://image.tmdb.org/t/p/w500/5mVyFHSY2rSsNgD4NfEwV82HigU.jpg'},
 {'_id': '67e0164b4ebb8c0dabc738b0',
  'title': 'The Last Kiss',
  'genres': ['Comedy', 'Drama', 'Romance'],
  'poster': 'https://image.tmdb.org/t/p/w500/k8Mdrwr5iv43iK8QDS49yvU7L6j.jpg'},
 {'_id': '67e016244ebb8c0dabc72814',
  'title': 'Another Cinderella Story',
  'genres': ['Comedy', 'Music'],
  'poster': 'https://image.tmdb.org/t/p/w500/Acw0Syw7s8QFTCkdJgtGR2Eg0SB.jpg'}]

In [ ]:
#completed.